{% extends "auctions/layout.html" %}

{% block body %}
<div>
    {% if user.is_authenticated %}
    <div class="d-flex justify-content-end mb-4">
        {% if has_listing_in_watchlist %}
        <a class="mx-4" href="{% url 'remove_from_watchlist' user.id listing.id %}">Remove from watchlist</a>
        {% else %}
        <a href="{% url 'add_to_watchlist' user.id listing.id %}">Add to watchlist</a>
        {% endif %}

        {% if user.id == listing.owner.id and listing.is_open %}
        <a class="mx-4" href="{% url 'close_listing' listing.id %}">Close Listing</a>
        {% endif %}
    </div>
    {% endif %}

    <div class="row mb-4">
        <div class="col-8 ">
            {% if not listing.is_open and listing.winner.id == user.id %}
            <p class="text-danger font-weight-bold">[CLOSED] <span class="text-success">Congratulations, you are the
                    winner!</span></p>
            {% elif not listing.is_open %}
            <p class="text-danger font-weight-bold">[CLOSED]</p>
            {% endif %}

            <span class="badge badge-secondary">{{ listing.category }}</span>
            <h2>{{ listing.title }}</h2>
            {% if listing.image_url %}
            <div class="d-flex justify-content-center">
                <img class="img-fluid" src="{{ listing.image_url }}" alt="Image of item up for auction." width="250"
                    height="300" />
            </div>
            {% endif %}
            <div class="font-weight-light">
                <p>{{ listing.description }}</p>
                <small>Created By: {{ listing.owner.username }}</small>
            </div>
        </div>

        <div class="col-4 bg-light p-4 align-self-start rounded">
            <ul class="list-unstyled text-center">
                <li class="font-weight-light">Starting Price: ${{ listing.price }}</li>
                {% if bid %}
                {% if listing.is_open %}
                <li class="font-weight-bold mt-2">Current Bid: ${{ bid }}</li>
                {% else %}
                <li class="font-weight-bold mt-2">Sold For: ${{ bid }}</li>
                {% endif %}
                {% endif %}
                {% if is_highest_bidder %}
                <li class="font-italic">You are the highest bidder</li>
                {% endif %}

            </ul>

            {% if user.is_authenticated and user.id != listing.owner.id and listing.is_open %}
            <h4>Enter Bid</h4>
            <form method="post">
                {% csrf_token %}

                {% if error %}
                <small class="font-weight-bold text-danger">{{ error }}</small>
                {% endif %}

                <div class="form-group">
                    {{ bid_form.amount.label_tag }}
                    {% if bid_form.amount.errors %}
                    <ul class="list-unstyled">
                        {% for error in bid_form.amount.errors %}
                        <li class="font-weight-bold text-danger"><small>{{ error }}</small></li>
                        {% endfor %}
                    </ul>
                    {% endif %}

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">$</span>
                        </div>
                        {{ bid_form.amount }}
                    </div>
                </div>

                <div class="d-flex justify-content-end">
                    <input class="btn btn-primary" type="submit" value="Place Bid">
                </div>
            </form>
            {% endif %}
        </div>
    </div>

    <div>
        <h4>Comments</h4>
        <form class="mb-4" method="POST" action="{% url 'comment' listing.id %}">
            {% csrf_token %}
            <div class="form-group">
                {{ comment_form.body }}
            </div>
            <div class="d-flex justify-content-end">
                <input class="btn btn-primary" type="submit" value="Submit Comment">
            </div>
        </form>
        {% for comment in listing.comments.all %}
        <div class="border p-3">
            <ul class="list-unstyled d-flex justify-content-between">
                <li class="font-weight-bold">{{ comment.author.username }}</li>
                <li class="font-weight-light">{{ comment.created_at }}</li>
            </ul>
            <p>{{comment.body}}</p>
        </div>
        {% empty %}
        <p class="text-center">Be the first to say something...</p>
        {% endfor %}
    </div>
</div>
{% endblock %}