{% extends "auctions/layout.html" %}

{% block body %}
{% if user.is_authenticated %}
{% if has_listing_in_watchlist %}
<a href="{% url 'remove_from_watchlist' user.id listing.id %}">Remove from watchlist</a>
{% else %}
<a href="{% url 'add_to_watchlist' user.id listing.id %}">Add to watchlist</a>
{% endif %}

{% if user.id == listing.owner.id and listing.is_open %}
<a href="{% url 'close_listing' listing.id %}">Close Listing</a>
{% endif %}

{% endif %}
<div>
    {% if not listing.is_open and listing.winner.id == user.id %}
    <p>THIS LISTING IS CLOSED. You are the winner!</p>
    {% elif not listing.is_open %}
    <p>THIS LISTING IS CLOSED</p>
    {% endif %}

    <h3>{{ listing.title }}</h3>
    <span>Category: {{ listing.category }}</span>
    <p>{{ listing.description }}</p>
    {% if listing.image_url %}
    <img src="{{ listing.image_url }}" alt="Image of item up for auction." />
    {% endif %}

    {% if bid %}
    <p>Current bid: ${{ bid }}</p>
    {% endif %}

    {% if is_highest_bidder %}
    <p>You are the highest bidder</p>
    {% endif %}

    <p>Starting price: ${{ listing.price }}</p>

    {% if user.is_authenticated and user.id != listing.owner.id and listing.is_open %}
    <h3>Make a bid</h3>
    <form method="post">
        {% csrf_token %}
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        {{ bid_form }}
        <input type="submit" value="Place bid">
    </form>
    {% endif %}
</div>
{% endblock %}