<div class="border p-4 w-75 mx-auto">
    <div class="row align-items-center">
        <div class="col-md-2">
            {% if listing.image_url %}
            <img class="img-fluid" src="{{ listing.image_url }}" alt="Image of item up for auction" width="200"
                height="200">
            {% else %}
            {% load static %}
            <img class="img-fluid" src="{% static 'auctions/no-image-available.jpg' %}"
                alt="Image of item up for auction" width="200" height="200">
            {% endif %}
        </div>

        <div class="col-md-10">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    {% if not listing.is_open %}
                    <span class="text-uppercase text-danger font-weight-bold">Closed</span>
                    {% endif %}
                    <h3>
                        <a href="{% url 'listing' listing.id %}">{{ listing.title }}</a>
                    </h3>
                </div>
                <div class="badge badge-secondary">{{ listing.category }}</div>
            </div>
            <ul class="list-unstyled">
                <li class="font-weight-bold">Starting Price: ${{ listing.price }}</li>
                <li class="font-weight-light">{{ listing.description }}</li>
            </ul>
        </div>

    </div>
</div>